
<div class="container">
    <div class="row">
        
<div class="card col-3" style="width: 18rem;">
    <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card col-3" style="width: 18rem;">
    <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card col-3" style="width: 18rem;">
    <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card col-3" style="width: 18rem;">
    <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  </div>
</div>
